<profile class="profile">
    <div class="profPage">
        <div class="profCardContainer">
            <p1 id="prof-name">{{user.username}}</p1>
                <div class="box">
                    <img src="{{user.survey.profile_pic}}"alr="personal photo:">
                </div>
            <br>
            <h3>Bio: </h3>
            <p1>{{user.survey.bio}}</p1>
            <h3>Email: </h3>
            <p1> {{user.email}}</p1>
            <h3>Gender:</h3>
            <p1> {{user.survey.gender}} </p1>
            <h3>Birthday:</h3>
            <p1> {{user.survey.birthdate}} </p1>
            <h3>Preferred gender: </h3>
            <p1>{{user.survey.pref_gender}} </p1>
            <h3>Ideal relationship: </h3>
            <p1>{{user.survey.relationship}}</p1>
            <h3>Reason for joining: </h3>
            <p1>{{user.survey.goal}}</p1>
            <h3>Working style: </h3>
            <p1>{{user.survey.worker}}</p1>
            <h3>Preferred language: </h3>
            <p1>{{user.survey.language}}</p1>
            <h3 class=>Ideal date night: </h3>
            <p1 class="pb-4">{{user.survey.ideal_date}}</p1>
            <h3>Do you want to remove this match?</h3>
            <button id="deleteBtn" data-index="{{user.id}}">Yes</button>
        </div>
    </div>
</profile>

<script src="/js/appmatch.js"></script>