{{!-- <link rel="stylesheet" href="/css/userimage.css"> --}}
{{#if pending}}
<h1 class="matchTitle">We think you might like: </h1>

<div class="d-flex flex-row flex-wrap mx-auto justify-content-center">
    {{#each pending}}
    <a href="/pending/{{user_id}}" class="matchCard" id="userImg">
        <img src="{{profile_pic}}" alt="User Picture">
        <h4 class="matchTitle">{{user.username}}</h4>
    </a>
    {{/each}}
</div>

<div class="col-12 my-4"></div>
{{/if}}
{{#if approved}}
<h1 class="matchTitle">You are a great match with: </h1>

<div class="d-flex flex-row flex-wrap mx-auto justify-content-center">
    {{#each approved}}
    <a href="/profile?id={{user_id}}" class="matchCard" id="userImg">
        <img src="{{profile_pic}}" alt="User Picture">
        <h4 class="matchTitle">{{user.username}}</h4>
    </a>
    {{/each}}
</div>
{{/if}}
