
<profile class="profile">


<div class="profPage">

<div class="profCardContainer">
<p id="prof-name">{{user.first_name}}  {{user.last_name}} </p>

<div class="box">
<img src="{{user.survey.profile_pic}}"alr="personal photo:">
</div>



<br>
<h3>Bio: </h3>
<p>{{user.survey.bio}}</p>

<h3>Email: </h3>
<p> {{user.email}}</p>

<h3>Gender:</h3>
<p> {{user.survey.gender}} </p>

{{#if isSelf}}
<h3>Birthday:</h3>
<p> {{user.survey.birthdate}} </p>
{{/if}}

<h3>Preferred gender: </h3>
<p>{{user.survey.pref_gender}} </p>

<h3>Ideal relationship: </h3>
<p>{{user.survey.relationship}}</p>

<h3>Reason for joining: </h3>
<p>{{user.survey.goal}}</p>

<h3>Working style: </h3>
<p>{{user.survey.worker}}</p>

<h3>Preferred language: </h3>
<p>{{user.survey.language}}</p>

<h3 class=>Ideal date night: </h3>
<p class="pb-4">{{user.survey.ideal_date}}</p>
</test>

</div>
{{#if isSelf}}
<a class="edit-btn" href="/profile/edit">Edit</a>
{{else}}
{{!-- add comment section here --}}
{{/if}}

{{#if selectedUserId}}
<a class="edit-btn" href="/userimages?id={{selectedUserId}}">View Images</a>
{{else}}
<a class="edit-btn" href="/userimages">View Images</a>
{{/if}}

</main>
</div>
</profile>

