<form id="update-form">
    <div>
        <p3>Birthday:</p3>
        <input type="text" id="birthdate" placeholder="update birthdate" value={{user.survey.birthdate}}>
    </div>

    <div>
        <p3>Preferred Gender:</p3>
        <input type="text" id="pref_gender" placeholder="update preferred gender" value={{user.survey.pref_gender}}>
    </div>
    
    <div>
        <p3>What you are looking for:</p3>
        <input type="text" id="relationship" placeholder="update relationship" value={{user.survey.relationship}}>
    </div>

    <div>
        <p3>You join Coder Mingle for:</p3>
        <input type="text" id="goal" placeholder="update goal" value={{user.survey.goal}}>
    </div>  
     
    <div>
        <p3>Your preferred language:</p3>
        <input type="text" id="language" placeholder="update preferred coding language" value={{user.survey.language}}>
    </div>

    <div>
        <p3>Your working style is:</p3>
        <input type="text" id="worker" placeholder="update working style" value={{user.survey.worker}}>
    </div> 

    <div>
        <p3>Ideal date night will be:</p3>
        <input type="text" id="ideal_date" placeholder="update ideal date" value={{user.survey.ideal_date}}>
    </div> 
    
    <div>
        <p3>Update your bio:</p3>
        <input type="text" id="bio" placeholder="bio" value={{user.survey.bio}}>
    </div> 

    <button>Update!</button>
    <a href="/profile">Cancel</a>
</form>

<script src="/js/profile.js"></script>