
<div id="survey">
<form id="surveyForm">


<div class="surveyForm-control">

    <p>What is your gender?</p>
    <label for="female"class="surveyContainer">Female
    <input type="radio" id="female" name="gender" value="female" {{radioBtnHelper 'female' user.survey.gender}}>
        <span class="checkmark"></span>
  </label>


    <label for="male"class="surveyContainer">Male
    <input type="radio" id="male" name="gender" value="male" {{radioBtnHelper 'male' user.survey.gender}}>
         <span class="checkmark"></span>
  </label>
    {{!-- <input type="radio" id="anyone" name="gender" value="prefer not to say" {{radioBtnHelper 'prefer not to say'
        user.survey.gender}}>
    <label for="anyone">Prefer not to say</label> --}}
</div>

 
<div class="surveyForm-control">

    <p>Who would you like to see on this site?</p>
    <label for="prefer_female"class="surveyContainer">Female
    <input type="radio" id="prefer_female" name="pref_gender" value="female" {{radioBtnHelper 'female'
        user.survey.pref_gender}}>
                 <span class="checkmark"></span>
  </label>

    <label for="prefer_male"class="surveyContainer">Male
    <input type="radio" id="prefer_male" name="pref_gender" value="male" {{radioBtnHelper 'male'
        user.survey.pref_gender}}>
                 <span class="checkmark"></span>
  </label>

    <label for="prefer_anyone"class="surveyContainer">Anyone
    <input type="radio" id="prefer_anyone" name="pref_gender" value="anyone" {{radioBtnHelper 'anyone'
        user.survey.pref_gender}}>
                 <span class="checkmark"></span>
  </label>
</div>


  <div class="surveyForm-control">
    <p>What is your birthdate?</p>
    <input type="date" id="birthdate" name="birthdate" value={{user.survey.birthdate}}>
    <label for="birthdate">Birthdate as MM/DD/YYYY</label><br>
  </div>

 
<div class="surveyForm-control">
    <p>Why are you joining this dating site?</p>
    <textarea rows="4" cols="50" id="goal" name="goal" >{{user.survey.goal}}</textarea>
</div>

<div class="surveyForm-control">
    <p>Relationship-wise, how do you see yourself in the future?</p>
    <textarea rows="4" cols="50" id="relationship" name="relationship" >{{user.survey.relationship}}</textarea>
</div>

<div class="surveyForm-control">
    <p>What type of programmer are you?</p>
    <textarea rows="4" cols="50" id="programmer_type" name="programmer_type" >{{user.survey.programmer_type}}</textarea>
</div>

<div class="surveyForm-control">
    <p>What is your favorite programming language?</p>
    <textarea rows="4" cols="50" id="language" name="language" >{{user.survey.language}}</textarea>
</div>
    
<div class="surveyForm-control">
    <p>How would you describe your work ethic?</p>
    <textarea rows="4" cols="50" id="worker" name="worker" >{{user.survey.worker}}</textarea>
</div>

 
<div class="surveyForm-control">
    <p>What is your ideal date night?</p>
    <textarea rows="4" cols="50" id="ideal_date" name="ideal_date" >{{user.survey.ideal_date}}</textarea>
</div>

<div class="surveyForm-control">
    <p>A brief self-introduction</p>
    <textarea id="bio" name="bio" rows="4" cols="50" placeholder="Talk a bit more about yourself" >{{user.survey.bio}}</textarea>
</div>



    <button class="profile-btn">Update</button>
    <a class="profile-btn" href="/profile">Cancel</a>
</div>
</form>

<script src="/js/profile.js"></script>